<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length Conversion</title>
</head>
<body>
    <form action={% url "length:convert" %} method="get">
        <div>
            {{ form.input_unit }}
            {{ form.input_value }}
        </div>
        <div>
            {{ form.output_unit }}
            {{ form.output_value }}
        </div>
        <input type="submit" value="Convert">
    </form>
</body>
</html>